.repo {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 60px;
    margin-left: 50px;
    margin-right: 72px;
}
.repo-name {
    font-size: 35px;
    color: #ac53f2;
}
.repo-description {
    font-size: 20px;
    color: #000000;
  }
  .star-count {
    font-size: 20px;
    color: #5c5c5c;
  }